python/resnet50_saved_model
python/data
python/resnet50_saved_model_TFTRT_FP16
python/resnet50_saved_model_TFTRT_FP32
python/resnet50_saved_model_TFTRT_INT8

resnet50_saved_model
data
resnet50_saved_model_TFTRT_FP16
resnet50_saved_model_TFTRT_FP32
resnet50_saved_model_TFTRT_INT8
